
// Body
$body-bg: #DAE1E7;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1F3A69;
$indigo: #6574cd;
$purple: #984192;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
// $bg-gray: #DAE1E7;
$card-border-width: 0rem !default;
$dropdown-border-width: 0rem !default;

$headings-color: $blue !default;
